<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Appointments</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
  />
    <link rel="stylesheets" href="styles.css" />
</head>

    <header>
        <nav class="nav">
        <a href="/home/index" class="logo">NJ Med</a>
        <ul class="nav-list">
            <li class="nav-items">
                <a href="/home/index" class="nav-link">home</a>
            </li>
            <li class="nav-items">
                <a href="#" class="nav-link">TeleVisit</a>
            </li>
            <li class="nav-items">
                <a href="view-records.html" class="nav-link">View My Records</a>
            </li>
            <li class="nav-items">
                <a href="http://localhost:3000/users/edit" class="nav-link">Manage Account</a>
            </li>
            <li class="nav-items">
                <a href="/home/book" class="nav-link">Book A New Appointment</a>
            </li>
        </ul>
    </nav>
    </header>
<h3> Call 201-000-0000 </h3>
<h3> Available slots </h3>
