*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  padding-top: 120px;
  background-color: #51b4caa1;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: 50, 151, 168;
  z-index: 1000;
  margin: 0 auto;
  padding: 0 1rem;
}

h3 {
 display: flex;
 justify-content: left;
 align-items: left;
 font-size: 1rem;
 color: rgb(28, 29, 31);
}

h4 {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 25px;
 font-size: 3rem;
 background-color: rgba(20, 74, 24, 0.74);
}



field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display:block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(20, 74, 24, 0.74);
}

.nav {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  transition: height 0.5s ease;
}

.main-form {
  width: 1600px;
  margin: auto;
  background-color: 50, 151, 168;
}

.row {
  width: 1600px;
  margin: auto;
  background-color: 50, 151, 168;
}


.nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-link {
  margin: 0 2rem;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  /* background-color: #fff; */
  background-color: #51b4caa1;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/*may not use
/* Apply styles after scroll */
.scrolling-active {
  background-color: white;
  box-shadow: 0 3px 1rem egba(0, 0, 0, 0.1);
}

.scrolling-active .nav {
  height: 3rem;
}

/* Apply styles after scroll end */
.scrolling-active .nav a {
  color: #313131;
}

.book {
  min-height: 30vh;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: 50, 151, 168;
  padding-top: 100px;
}

.col {
  width: 8000px;
  margin: auto;
  padding-top: 20px;
  background-color: 50, 151, 168;
}

.book h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  font-size: 1.5rem;
  background-color: 50, 151, 168;
}

.alert {
  min-height: 5vh;
  display: block;
  background-color: 50, 151, 168;
  padding-top: 10px;
}


/* input {
} */

.previous {
  min-height: 60vh;
  width: auto;
  display: block;
  background-color: 50, 151, 168;
}

.previous h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  font-size: 1.5rem;
}



.text-box {
  width: 650px;
  margin: 100px auto;
  position: relative;
}

.text-box p {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 50%;
}

footer {
  height: 15vh;
  width: 100%;
  background-color: #7c9ea6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.social-item {
  list-style: none;
  padding: 0 4rem;
}

.social-link {
  display: flex;
  font-size: 2rem;
  text-decoration: none;
  /* color: #b6bbc5; */
  color: #7c9ea6;
  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  /* box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
      -1rem -1rem 2rem rgba(255, 255, 255, 0.5); */
  box-shadow: 1rem 1rem 2rem rgba(24, 53, 64, 0.541),
    -1rem -1rem 2rem rgba(156, 179, 184, 0.7);
}

.social-link i {
  margin: auto;
  /* color: rgba(24, 53, 64, 1); */
  color: rgba(242, 183, 5, 1);
  /* color: rgba(217, 142, 4, 1); */
}

.social-link:hover {
  /* box-shadow: inset 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
      inset -1rem -1rem 2rem rgba(255, 255, 255, 0.5); */
  box-shadow: inset 1rem 1rem 2rem rgba(24, 53, 64, 0.541),
    inset -1rem -1rem 2rem rgba(156, 179, 184, 0.7);
}
